body,html{
	margin:0;
	height: 100%;
}
*{
	box-sizing: border-box;
	text-decoration: none;
}
.container{
	background-image: url('/Image/image.jpg');
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
}
