*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: raleway;
}
.sidenav{
	height: 100%;
	width: 200px;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #172549;
}
#logo{
	color: #fff;
	padding: 20px;
}
.sidenav-link{
	display: block;
	color: #fff;
	font-size: 17px;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 5px;
}
.sidanav-link,a:hover{
	color: #f9d71c;

}