body {
  height: 100%;
  font-family: Raleway;
  background-color: #e9ebee;
}
hr{
	height: 10px;
	width: 100%;
	background-color: #172549;
	border-radius: 5px;
	border:transparent;
	

}
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #172549;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 15px 8px 6px 16px;
  text-decoration: none;
  font-size: 22px;
  color: #fff;
  display: block;
}

.sidenav a:hover {
  color: #f9d71c;
}

.main {
  margin-left: 300px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
.box{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	width:100%;
	background-color: #fff;
	border-radius: 20px;
	box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}
#childInfo{

}
#child-main-texts{
	overflow: hidden;
	padding-left: 20px;
	text-align: center;

}

input{
	padding: 5px;
	font-size: 25px;
	width: 550px;
	margin-bottom: 20px;
}
input[type="radio"]{
	height: 30px;
	border-radius: 4px;
	margin-right: -250px;
	
}

#select-gender{
	width: 560px;
}

select{
	padding: 10px;
	font-size: 22px;
	width: 182px;
	margin-bottom: 20px;
}
label{
	width: 300px;
	display: inline-block;
	text-align: right;
}
#notes{
	width: 550px;
	height: 50px;
	margin-left: 10px;
}
